# arch_update
## External FS
ARCH_UPDATE_EXTERNAL_MNT=/mnt/external_backup

# tmux_group_attach
TMUX_SESSION_GROUP="term"

# Display
LAPTOP_DISPLAY='eDP1'
EXT_PLACEMENT='above'
CMD_POST_DISPLAY="${HOME}/.fehbg; i3-msg restart"
