# Backup directory (used by many scripts)
BACKUP_DIR="/home/bf/.backups"


# arch_update
## Volume group for root LV
ARCH_UPDATE_VG=my_lvm

## Root LV
ARCH_UPDATE_ROOT_LV=arch-root

## How big to make snapshot volume
ARCH_UPDATE_SNAPSHOT_GB=2

## How many days to keep snapshot
ARCH_UPDATE_SNAPSHOT_KEEP_DAYS=1

## Where to save snapshot
ARCH_UPDATE_SNAPSHOT_DIR="${BACKUP_DIR}/snapshots"


# rsync_backup
## rsync params (useful for exclusions)
RSYNC_EXCLUDE_FROM="/home/bf/.backup_exclude"

## What to backup (no trailing /)
RSYNC_BACKUP_SOURCE="/home/bf"

## rsync.net target (no trailing /)
## Set up in ~/.ssh/config with something like:
##
## Host rsync
##        User <rsync username>
##	IdentityFile <rsync ssh id file>
##	HostName <rsync host>
RSYNC_BACKUP_TARGET="rsync:my_backups"


# backup_gdrive
## rclone params (useful for exclusion)
GDRIVE_EXTRA_PARAMS="--exclude 'Plex Cloud Sync/*'"

# source, setup via `rclone config`
GDRIVE_BACKUP_SOURCE="gdrive:"

# local target
GDRIVE_BACKUP_TARGET="${BACKUP_DIR}/cloud/gdrive"


# arch_link_configs
CONFIG_BACKUP_DIR="${BACKUP_DIR}/configs"
typeset -A CONFIG_OTHER_CONFIGS
CONFIG_OTHER_CONFIGS=(
    [x11]="/etc/X11/xorg.conf.d"
    [modprobe]="/etc/modprobe.d"
)


# tmux_group_attach
TMUX_SESSION_GROUP="term"
